<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">HOME</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/user">VIEW ALL USERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userPage">USER_PAGE</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand" href="/logout">LOGOUT</a>
</nav>
<h1 style="margin-left: 10%">User List</h1>
<br/><br/>
<div class="container text-center" th:switch="${accounts}">
    <table class="table table-bordered text-center">
        <thead class="thead-dark text-center">
        <tr>
            <th>ID</th>
            <th>ACCOUNT_NUMBER</th>
            <th>UNITS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
</body>
</html>